@import '../../../../../index.module.scss';

.youtube_container {
    position: relative;
    width: 702px;
    height: 400px;
    overflow: hidden;
    @include respond-to("large"){
        width: 690px;
        height: 400px;
    }
    @include respond-to("large"){
        width: 690px;
        height: 400px;
    }
    @include respond-to("medium"){
        width: 370px;
        height: 218px;
    }

    .play_button {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        cursor: pointer;
        z-index: 1;
    }

    .youtube_iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }

    .youtube_iframe .is_playing {
        z-index: 0;
    }
}

