.swiper-button-next,
.swiper-button-prev {
    color: #FFC727; 
}

/* .swiper-button-next{
    position: absolute;
    right: -20px;
}

.swiper-button-prev{
    position: absolute;
    left: -30px;
    z-index: 100000000000000;
} */